*{
    margin: 0;
    padding: 0;
}

.main1{
    height: 45px;
    width: 100%;
    background-color: aquamarine;
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
}

.d1{
    width: 40%;
    height: 50px;
    padding-left: 10px;
}

.p1{
    color: black;
    font-size: 22px;
}

.ul1{
  list-style: none;
  display: flex;
  gap: 20px;
  margin-right: 35px;
}

.ic{
    font-size: 22px;
    color: blue;
}


.menu2{
  display: flex;
  justify-content: space-between;
}

.d11{
  display: flex;
  margin-top: 5px;
  margin-right: 20px;
}

.d11 div{
  padding: 10px;

}

.d11 div p{
  color: lightgray;
}

.d2, .d3{
  border-right: solid 1px lightgray;
}

.sp{
    color: orangered;
}

.h2{
    padding-top: 13px;
    margin-left: 30px;
}

.menu3{
  background: black;
  display: flex;
  justify-content: space-between;
}


.ul2{
  display: flex;
  list-style: none;
  margin-left: 20px;
}

.ul2 li{
  padding: 20px;
}

.ul2 li a{
  text-decoration: none;
  color: white;
}

 button{
  margin-top: 15px;
  margin-right: 20px;
  padding: 5px 10px 5px 10px;
  color: white;
  background: orange;
  border: none;
}

.li1:hover {
  background: orange;
}
.katu{
  height: 600px;
  background-image: url(cat.jpg);
  background-position: center;
  background-size:cover ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.katu1{
  text-align: center;
}

.k1{
  color: white;
  font-size: 30px;
}

.k2{
  color: white;
  font-size: 40px;
}

.btn1{
  background: lightgreen;
}
.dzax{
  position: absolute;
  left: 50px;
  background: orange;
  padding: 10px;
}
.aj{
  position: absolute;
  right : 50px;
  background: orange;
  padding: 10px;
}